@{
    ViewData["Title"] = "Home Page";
}


<div class="container bg-success bg-gradient">
    <h1 class="text-light text-xl-center">Welcome</h1>
    <p class="text-center text-warning">This project is Build using a Model View Controller (MVC)</p>
</div>
